.banner {
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(17, 17, 17, 0) 100%), url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
}